// out:../css/index.css
@import "./base.less";

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}

// 畫布
.container {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 16px;
}

select {
    margin-left: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    border-radius: 4px;
}

.todayWeather {
    // 今日
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;
        .todayinfo {
            display: flex;
            flex-wrap: wrap;
            flex: auto;
            text-align: center;
            div {
                min-width: 200px;
                width: (100% / 2);
            }
        }
        .pic {
            text-align: center;
            width: (100% / 3);
        }

        .today_right {
            .iconfont {
                margin-right: 5px;
                font-size: 18px;
            }
        }
}

.info_item {
    margin-bottom: 10px;
    font-size: 18px;
}

// 天氣資訊
.weekWeather {
    display: flex;
    flex-wrap: wrap;

    // 一週
    li {
        width: (100% / 6);
        height: 220px;
        text-align: center;
        img {
            width: 70px;
        }
    }
}

@media (max-width: 960px) {
    .weekWeather li {
        width: (100% / 2);
    }
    .todayWeather {
        max-width: 500px;
        .pic {
            width: (100% / 2);
        }
        .todayinfo {
            width: (100% / 2);
            div {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .weekWeather li {
        width: 100%;
    }
    .todayWeather {
        .pic {
            width: 100%;
        }
    }
}